.scrlb-content--x .scrlb-content__item {
  flex-shrink: 0;
}

.scrlb-content--y .scrlb-content__item {
  flex-shrink: 0;
}

.scrlb-content--x-margin-2dp .scrlb-content__item:not(:first-child) {
  margin-left: 2px;
}

.scrlb-content--x-margin-3dp .scrlb-content__item:not(:first-child) {
  margin-left: 3px;
}

.scrlb-content--x-margin-4dp .scrlb-content__item:not(:first-child) {
  margin-left: 4px;
}

.scrlb-content--x-margin-6dp .scrlb-content__item:not(:first-child) {
  margin-left: 6px;
}

.scrlb-content--x-margin-8dp .scrlb-content__item:not(:first-child) {
  margin-left: 8px;
}

.scrlb-content--x-margin-16dp .scrlb-content__item:not(:first-child) {
  margin-left: 16px;
}

.scrlb-content--x-margin-24dp .scrlb-content__item:not(:first-child) {
  margin-left: 24px;
}

.scrlb-content--x {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.scrlb-content--y {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.scrlb-content--x::-webkit-scrollbar {
  display: none;
}

.scrlb-content--y::-webkit-scrollbar {
  display: none;
}
